<div class="container">
  <div class="register-form-container">
    <form class="register-form" [formGroup]="registerForm" (ngSubmit)="signUp()">
      <h2>Inscription</h2>
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username">
        <mat-error *ngIf="registerForm.get('username')?.hasError('required')">Username is required</mat-error>
        <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
        </div>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
        <mat-error *ngIf="registerForm.get('email')?.hasError('required')">Email is required</mat-error>
        <mat-error *ngIf="registerForm.get('email')?.hasError('email')">Invalid email format</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
        <mat-error *ngIf="registerForm.get('password')?.hasError('required')">Password is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" formControlName="confirmPassword">
        <mat-error *ngIf="registerForm.get('confirmPassword')?.hasError('required')">Confirm Password is required
        </mat-error>
        <mat-error *ngIf="registerForm.hasError('mismatch')">Passwords do not match</mat-error>
      </mat-form-field>
      <div class="form-group">
        <button type="submit" class="btn btn-primary"   [disabled]="registerForm.invalid">Register</button>
        Or <a routerLink="/login">Login</a>
      </div>
    </form>
  </div>
</div>
